@use "./widgets/Applauncher.scss";
@use "./widgets/Settings.scss";
@use "./widgets/Power.scss";
@use "./widgets/Notification.scss";
@use "./widgets/MediaPlayer.scss";

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss;
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
    background: transparent;
    color: $fg-color;
    font-weight: bold;
    font-size: 16px;

    >centerbox {
        background: $bg-color;
        border-radius: 10px;
        margin: 0 10px 10px 10px;
    }
    
    icon {
        font-size: 1.5em;
    }

    button {
        border-radius: 8px;
        margin: 5px 3px;
        icon {
            font-size: 1.5em;
        }
    }
}