window.bar {
    background-color: @theme_bg_color;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: @theme_fg_color;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: @theme_bg_color;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 1px solid @theme_fg_color;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: @theme_fg_color;
}

.workspaces button.focused {
    border-bottom: 1px solid @theme_selected_bg_color;
}

.client-title {
    color: @theme_selected_bg_color;
    background-color: @theme_bg_color;
    margin: 0;
    padding: 0 10px;
    border-radius: 5px;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 5px;
}

.menu {
    background-color: @theme_bg_color;
    font-size: larger;
    margin: 0 0 0 5px;
    padding: 0 5px;
}

.clock {
    background-color: @theme_bg_color;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.volume {
    background-color: @theme_bg_color;
    font-size: larger;
    margin: 0;
    padding: 0 5px;
    border-radius: 5px;
}

.powerMenu {
    background-color: @theme_bg_color;
    font-size: larger;
    margin-right: 10px;
    padding: 0 5px;
}

/* notifiction popups */

window.notification-popups box.notifications {
    padding: .5em;
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid @wm_borders_edge;
    background-color: @theme_bg_color;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: @theme_fg_color;
    font-size: 1.4em;
}

.body {
    color: @theme_unfocused_fg_color;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}

/* player */

.player {
    padding: 10px;
    min-width: 350px;
}

.player .img {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 13px;
    margin-right: 1em;
}

.player .title {
    font-size: 1.2em;
}

.player .artist {
    font-size: 1.1em;
    color: @insensitive_fg_color;
}

.player scale.position {
    padding: 0;
    margin-bottom: .3em;
}

.player scale.position trough {
    min-height: 8px;
}

.player scale.position highlight {
    background-color: @theme_fg_color;
}

.player scale.position slider {
    all: unset;
}

.player button {
    min-height: 1em;
    min-width: 1em;
    padding: .3em;
}

.player button.play-pause {
    margin: 0 .3em;
}