* {
    border-radius: 2px;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
}

window {
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #313244;
}

/* #input {
    margin: 10px 1px 0px -2px;
    border-radius: 5px;
} */

#outer-box {
    margin: -25px 15px 15px 15px;
    border-radius: 5px;
    /* background: linear-gradient(
        90deg,
        #1a1d23 45%,
        #007db8 47%,
        #007db8 48%,
        #debcdf 50%,
        #007db8 52%,
        #007db8 53%,
        #1a1d23 55%
    ); */
    background-position: 0 40px;
}

#inner-box {
    margin: 10px 0px 0px 10px;
}

#scroll {
    margin: 2px 2px 2px 2px;
}

#text {
    margin: 0 0 0 10px;
    border: none;
}

#text:selected {
    margin: 0 0 0 10px;
    border: none;
    background-color: #2f3036;
}

#entry {
    margin: 2px 2px 2px 0px;
    border: none;
    background-color: #2f3036;
}

#entry:selected {
    margin: 2px 2px 2px 0px;
    border: 1px solid #debcdf;
    border-radius: 5px;
    background-color: #2f3036;
}
.entry {
    border: none;
}

#img {
    margin: 2px;
    border: none;
}

#img:selected {
    background-color: #252831;
}

#expander-box {
    border: none;
}
